body {
    /* background-color: blue; */
    background-color: #456990;
}

.btn {
    margin: 5px
}

.card-title {
    font-size: 25px;
    color: #456990;
}
.card-text {
    font-size: 15px;
}
.jumbotron {
    /* padding: 4rem 2rem; */
    padding: 2px;
    /* background-color: #456990; */
    /* color: #456990 */
}
.jumbotron.comments{
    /* padding: 4rem 2rem; */
    padding: 0px
}

.jumbotron-fluid {
    background-color: #456990;
}